{% extends "base.html" %}
{% load static %}
{% block title %}create JS{% endblock title %}
{% block content %}

   <form enctype="multipart/form-data">
       <div class=" d-flex justify-content-center">
       <div class=" d-flex flex-column m-5">
        <input class="col-6 col-sm-5 col-md-4 col-lg-3 col-xl-12  mt-2 mb-2" type="text" name="publish_title">
           <textarea type="text" name="publish_text"></textarea>
        <input class="col-6 col-sm-5 col-md-4 col-lg-3 col-xl-12 mt-2 mb-2" type="file" name="publish_photo">
        <input class="col-6 col-sm-5 col-md-4 col-lg-3 col-xl-12 mt-2 mb-2" type="button" onclick="createGist()" value="Сохранить запись">
       </div>
       </div>
   </form>
    <script>

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function createGist() {

            var publish_author = '1'
            var publish_title = document.getElementsByName('publish_title')[0].value
            var publish_text = document.getElementsByName('publish_text')[0].value

            /*
            var publish_photo = document.getElementsByName('publish_photo')[0].value
            var publish_photo_slice = publish_photo.slice(12)
            publish_photo.split('.')
            var myData = {
                author:publish_author, title: publish_title, text:publish_text, photo: publish_photo_slice
            };*/

            let csrftoken = getCookie('csrftoken');

            const formData = new FormData();
            const fileField = document.querySelector('input[type="file"]');

            formData.append('author', publish_author);
            formData.append('title', publish_title);
            formData.append('text', publish_text);
            formData.append('photo', fileField.files[0]);
            console.log('formData')
            console.log(formData)

            fetch("http://127.0.0.1:8991/api/posts/", {
                method: "post",
                credentials: "same-origin",
                headers: {
                    "X-CSRFToken": csrftoken,
                },

                body: formData

            }).then(function (response) {
                console.log('response.json()')
                console.log(response.json())
                if (response){
                    location.href='/blog/apiblogjs/'
                }
                //return response.json();
            })

        }

    </script>

{% endblock %}

