{% extends "base.html" %}
{% load static %}
{% block content %}
    edit JS

    {#<div><a href="{% url 'blog:blogs_list' %}"><span>Главная</span></a></div>#}
    <div class=" d-flex justify-content-center">
        <form enctype="multipart/form-data">
            <div class=" d-flex justify-content-center">
                <div class=" d-flex flex-column m-5">
                    <input class="col-6 col-sm-5 col-md-4 col-lg-3 col-xl-12  mt-2 mb-2" type="text" name="publish_title" value="{{ post_ditail.title }}">
                    <textarea type="text" name="publish_text">{{ post_ditail.text }}</textarea>
                    <input class="col-6 col-sm-5 col-md-4 col-lg-3 col-xl-12 mt-2 mb-2" type="file" name="publish_photo"><a href="{{ MEDIA_URL }}{{ post_ditail.photo }}">{{ post_ditail.photo }}</a>
                    <input class="col-6 col-sm-5 col-md-4 col-lg-3 col-xl-12 mt-2 mb-2" type="button" onclick="editeGist({{ post_ditail.pk }})" value="Сохранить запись">
                </div>
            </div>
        </form>
    </div>


    <script>

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function editeGist (idpost){

            var publish_author = '1'
            var publish_title = document.getElementsByName('publish_title')[0].value
            var publish_text = document.getElementsByName('publish_text')[0].value
            let pk = idpost
            let csrftoken = getCookie('csrftoken');
            const formData = new FormData();
            const fileField = document.querySelector('input[type="file"]');

            formData.append('author', publish_author);
            formData.append('title', publish_title);
            formData.append('text', publish_text);
            formData.append('photo', fileField.files[0]);
            console.log('formData')
            console.log(formData)
            fetch("http://127.0.0.1:8991/api/posts/" + pk, {
                method: "put",
                credentials: "same-origin",
                headers: {
                    "X-CSRFToken": csrftoken,
                },
                body: formData
            })

                location.href = 'http://127.0.0.1:8991/blog/apidetailblogjs/' + pk
                //location.href='/blog/apieditblogjs/' + pk

        }
    </script>
{% endblock content %}