{% extends "base.html" %}
{% load static %}
{% block content %}
{#<div><a href="{% url 'blog:blogs_list' %}"><span>Главная</span></a></div>#}
    <div class="d-flex justify-content-start">
    <div class=" m-4 p-4">
        <span> </span>
        <img class="main_img" src="{{ MEDIA_URL }}{{ post_ditail.photo }}" width="176" height="185">
    </div>

    <div class="d-flex flex-column m-4 p-4">
        <div>Детальное описание</div>
        <div>Номер:{{ post_ditail.pk }}</div>
        <div>Автор:  {{ post_ditail.author }}</div>

        <div>Тайтл: {{ post_ditail.title }}</div>
        <div>Текст: {{ post_ditail.text }}</div>
        <div>Дата: {{ post_ditail.publish_date }}</div>

        {% if post_ditail.publish_date %}
            <div class="date">
                {% csrf_token %}
                <a href="{% url 'blog:edit' pk=post_ditail.pk %}"><span style="color: blue">редактировать </span></a>
                <div><a href="{% url 'blog:delete' pk=post_ditail.pk %}"><span>Удалить</span></a></div>
            </div>
        {% endif %}
    </div>
    </div>

{% endblock content %}