{% extends "base.html" %}
{% load static %}

    <meta charset="UTF-8">
    <title>Формы Django</title>
    {% block content %}

<div><a href="{% url 'blog:blogs_list' %}"><span>Главная</span></a></div>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }} {# .as_p что бы формы были как строки #}
    <input type="button" value="Сохранить запись" />
</form>
{#<script>#}
{#        var api_cicl = '<div></div>'#}
{#    function postsApi(data){#}
{#        var all_posts = data#}
{##}
{#        console.log('123')#}
{#        for( i=0; i<all_posts.length; i++ ){#}
{#            api_cicl += '<div>' + all_posts[0].title + '</div>'#}
{#            console.log('i')#}
{#            console.log(all_posts[i])#}
{#        }#}
{#    }#}
{##}
{#    fetch('http://127.0.0.1:8991/api/posts/')#}
{#        // Handle success#}
{#        .then(response => response.json())  // convert to json#}
{#        .then(data => this.postsApi(data))#}
{##}
{#</script>#}
    {% endblock content %}