html{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

body
{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(28, 151, 139, 0.35);
    color: white;
    text-align: center;

    padding: 15px;
    font-weight: bolder;

}

.child-row{
    padding: 10px;
    padding-left: 10%;

}

.myPosts{
    margin: 0 auto;
    font-size: 30px;
}

.main_img{
    width: 176px;
    height: 185px;
}

.row-blog-list{
    margin-bottom: 100px;
}

/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_dropdown*/


.dropbtn {
    background-color: #555;
    color: white;
    /*padding: 16px;*/
    font-size: 1.75rem;
    border: none;
    cursor: pointer;
}

/*.dropbtn:hover, .dropbtn:focus {*/
/*    background-color: #2980B9;*/
/*}*/

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #555;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 6px 9px;
    text-decoration: none;
    display: block;
}

/*.dropdown a:hover {background-color: #ddd;}*/

.show {display: block;}